<div id="margin">
	<div class="title">&nbsp;&nbsp;margin</div>
	<div class="topdash">-</div>
	<div class="leftdash mdash">-</div>
	<div class="rightdash mdash">-</div>
	<div class="bottomdash">-</div>
 	<div id="border">
		<span class="title">&nbsp;&nbsp;border</span>
		<div class="topdash">-</div>
		<div class="leftdash bdash">-</div>
		<div class="rightdash bdash">-</div>
		<div class="bottomdash">-</div>
 		<div id="padding">
			<span class="title">&nbsp;&nbsp;padding</span>
			<div class="topdash">-</div>
			<div class="leftdash pdash leftpdash">-</div>
			<div class="rightdash pdash rightpdash">-</div>
			<div class="bottomdash">-</div>
			<div id="content">
				content
			</div>
		</div>
	</div>
</div>
<style>
html, body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	padding: 5;
	margin: 0;
}
#margin {
    position: relative;
	background-color: #f9cc9d;
	width: 180px;
	height: 148px;
	border: 1px dashed #000;
}
#border {
    position: absolute;
    top: 0;
    left: 0;
	background-color: #fddd9b;
	width: 150px;
	height: 106px;
	margin-left: 15px;
	margin-top: 21px;
	border: 1px solid #000
}
#padding {
    position: absolute;
    top: 0;
    left: 0;
	background-color: #c3d08b;
	width: 120px;
	height: 64px;
	margin-left: 15px;
	margin-top: 21px;
	border: 1px dashed #000;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
 	background-color: #86b2bd;
	width: 80px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	margin-left: 20px;
	margin-top: 21px;
	border: 1px dashed #000;
}
.title {
	float: left; 
	margin-left: 0px;
	margin-top: 3px;
	width: 33.33%;
}
.topdash {
	float: left;
	width: 33.33%;
	padding-top: 3px;
	text-align: center;
	padding-left:-3px;
}
.bottomdash {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
}
.leftdash {
 	position: absolute;
	left: 0;
	margin-left:5px;
	vertical-align: middle;
}
.rightdash {
 	position: absolute;
	right: 0;
	margin-right:5px;
	vertical-align: middle;
}
.leftpdash {
	margin-left:9px;
}
.rightpdash {
	margin-right:9px;
}
.mdash {
	line-height: 152px;
}
.bdash {
	line-height: 108px;
}
.pdash {
	line-height: 64px;
}
</style>
