<p class="one border">
	Paragraph One
</p>
<p class="two border">
	Paragraph Two
</p>
<style>
	p.one {
	    margin: 0 0 25px 0;
	    background: #cfc;
	}
	p.two {
	    margin: 20px 0 0 0;
	    background: #cf9;
	}
</style>
