<!-- HTML -->
<div class="scroll">
	<b>scroll</b>: Always display scrollbars
</div>
 
<div class="hidden">
	<b>hidden</b>: Hide the text if the size of the paragraph actually
	exceeds the element's viewport size.
</div>
 
<div class="auto">
	<b>auto</b> - display vertical and horizontal scrollbars when the text
	exceeds the size of the container.
</div>
 
<div class="visible">
	<b>visible</b> - ignore the boundaries of the container when the text
	exceeds the size of the element's width and height.
</div>
<style>
/* CSS PART 1 */
div {
  margin: 10px 0px;
}

div.scroll {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: scroll;
    /* resize: both; */
}

div.hidden {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
/* CSS PART 2 */
div.auto {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
}

div.visible {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: visible;
}

</style>