<div id="valuesDiv">
  This div demonstrates different values 
  used in CSS
  <ul>
    <li>
      This border has a numeric value 
      in pixels border: 2px solid red;
    </li>
    <li>
      This background color has a hex value to
      Represent the light blue color 
      background-color: #ADD8E6;  
    </li>
    <li>
      This width uses a calculation function
      calc(100% - 120px); 
    </li>
    <li>
      This padding uses the em relative unit
      padding: 1em;
    </li>
    <li>
      The height is set using the view height 
      relative unit height: 50vh;
    </li>
  </ul>
</div>
<style>
	#valuesDiv{
	  border: 2px solid red;
	  background-color: #add8e6;
	  width: calc(100% - 120px);  
	  padding: 1em;
	  height: 50vh; /* vertical height */
	}
</style>