<div class="full-width">
 <p class="testSize">
   This paragraph uses percentages and it will resize with the width of the parent element.
 </p>
</div>

<div class="fixed-width">
  <p class="testSize">
    This paragraph uses a static width and it will not resize with the window or with the parent element.
  </p>
</div>

<style>
html, body {
	height: 100%;
}
.fixed-width {
    width: 768px;
    border: 3px red solid;
    margin-top: 20px;
}
.full-width {
    width: 100%;
    height: 100%;
    border: 3px red solid;
}
.testSize {
    width: 75%;
    height: 50%;
    font-size: 200%;
    color: rebeccapurple;
    border: 3px rebeccapurple solid;
}
</style>
