<p class="msu">
  This text should be MSU red!
</p>
<p class="msu-hsl">
  HSL example (MSU Red)
</p>
<div class="background">
  <p class="text">
    RGBA EXAMPLE
  </p>
</div>
<style>
.msu {
    /* MSU Red */
    color: rgb(94, 0, 9);
    font-size:110%;
    font-weight: bold;
}
.msu-hsl {
    color: hsl(354, 100%, 18.4%);
    font-size:110%;
    font-weight: bold;
}
.background {
    background-color: #5e0009;
}
.text {
    font-weight: 700;
    font-size:200%;
    color: rgba(255, 255, 255, 0.59); 
}
</style>
