<div class="opacity">
	Div 0
	<div class="opacity">
		Div 1
		<div class="opacity">
			Div 2
			<p>My Paragraph</p>
		</div>
	</div>
</div>
<style>
div.opacity, p {
	opacity: .5;
	font-size: 25px;
}
</style>
